<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="about-container">
                <img src="img/portfolio/ArielLopez1.JPG" alt="Ariel Lopez" class="profile-img">
                <div class="about-text"></div>
                <h2 class="section-heading">The Debugger Who Lived</h2>
                <hr class="light">
                <p class="text-faded">I am an aspiring software engineer with a passion for innovation—driven to develop programs and devices that help those in need while inspiring others to pursue their own goals.
Beyond my studies, I am a dedicated leader in my full-time job and a proud mother of two. Balancing work, school, and family has taught me the value of time management, resilience, and learning through experience.
Above all, being a role model for my boys motivates me to strive for excellence in everything I do.

                </p>
<!--                 <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
